<div id="search-header">Search for words</div>
<div class="search-container">
    <div id="search-content">
        <form ng-submit="getPronunciationWords($event)" ng-keyup="getPronunciationWords($event)"
              id="searchPronunciationWordForm" name="searchForWordForm">
            <input autocomplete="off" type="text" id="searchPronunciationWord" name="searchPronunciationWord">
        </form>
    </div>
</div>
<div id="results">
    <div class="noResults" ng-if="hasNoResults()">No results</div>
    <div ng-repeat="(i, word) in getWords()">
        <div class="word-container">
            <div class="word">{{ word.word }}</div>
            <div class="pronunciation" ng-click="playMusic( word.id )">
                Play
            </div>
        </div>
    </div>
</div>
