
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div ng-app="pronunciationWordApp" ng-controller="pronunciationWordController" id="main-container">

            <div id="project-name-header">
            Prononcify
        </div>
        <div id="content">
            <div class="search-container">
                <div id="search-header">Search for words</div>
                <div id="search-content">
                    <form ng-submit="getPronunciationWords($event)" ng-keyup="getPronunciationWords($event)"
                          id="searchPronunciationWordForm" name="searchForWordForm">
                        <input autocomplete="off" type="text" id="searchPronunciationWord" name="searchPronunciationWord">
                        <button class="button search" type="submit">Otsi</button>
                    </form>
                </div>
            </div>
            {% verbatim %}
            <div ng-repeat="(i, word) in words">
                <div class="word-container">
                    <div class="word">{{ word.word }}</div>
                    <div> {{ word.file_name }} </div>
                    <div class="pronunciation" ng-click="playMusic( word.file_name )">
                        Play
                    </div>
                </div>
            </div>
            {% endverbatim %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>
