<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div id="main-container">
        <div id="project-name-header">
            Prononcify
        </div>
        <div id="">
            {% for word in words %}
                <div class="word">
                    <p>{{ word.word }}</p>
                    <div class="pronunciation" onclick="playMusic('audio{{ forloop.counter }}')">
                        <audio class="audio{{ forloop.counter }}">
                            {% with 'audio_files/'|add:word.pronunciation.file_name as audio_static %}
                                <source src="{% static audio_static %}">
                            {% endwith %}
                        </audio>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>