<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <div ng-app="pronunciationWordApp" ng-controller="pronunciationWordController" id="main-container">

        <div id="project-name-header">Prononcify</div>
        <div id="content">
            <div class="tab">
              <a class="button btn-search" href="#/search">Search</a>
              <a class="button btn-search" href="#/upload">Upload</a>
            </div>
            <div id="main" ng-view></div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.3/angular-route.js"></script>
    <script src="{% static 'script/script.js' %}"></script>
</body>
</html>
